<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreamEducation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <StreamEducation.Properties.Settings>
            <setting name="COMPLETE" serializeAs="String">
                <value>server=ingreq2021-mysql.cobadwnzalab.eu-central-1.rds.amazonaws.com;user=grupo03;database=apsgrupo03;port=3306;password=morenomoreno2021</value>
            </setting>
        </StreamEducation.Properties.Settings>
    </applicationSettings>
</configuration>